@import "../settings.scss";

$color-grid-light: rgba(0, 0, 0, 0.2);
$color-grid-dark: rgba(0, 0, 0, 0.4);

.Grid {
    border: 1vw solid $color-grid-dark;
    border-radius: 3px;

    &-table {
        border-collapse: collapse;
    }

    &-caption {
        caption-side: bottom;

        padding-top: 1vw;

        font-size: 2.5vh;

        background-color: $color-grid-dark;
    }

    &-body {
        background-color: $color-grid-light;

        &:hover {
            cursor: pointer;
        }
    }
}
